:root {
    --text: #0a0501;
    --background: #f5f5f5;
    --primary: #ff7200;
    --secondary: #e7e3df;
    --accent: #e8450a;
}
body {
    font-family: 'Vazirmatn', sans-serif;   
}
nav {
    background-color: rgb(0, 150, 57);
    border-radius: 10px;
    
}
nav ul {
    white-space: nowrap;
    margin: 0 auto;
    padding: 1vh;
}
nav li {
    list-style-type: none;
    display: inline-block;
    font-size: x-large;
}
nav a {
    text-decoration: none;
}
nav img {
    width: 10%;
    max-width: 100%;
    padding-left: 40px;

}